{% extends "base.html" %} {% block content %}
<h2>Parameters</h2>
<form class="form-grid" onsubmit="event.preventDefault(); updateParameters();">
  <label for="enabled">Enable Control:</label>
  <input type="checkbox" id="enabled" />

  <label for="half_life_minutes"
    >Half-Life for exponential mean average (minutes):</label
  >
  <input type="number" id="half_life_minutes" step="0.00001" />

  {% if controller_name == 'bwk-onoff' %}
  <label for="threshold">Threshold:</label>
  <input type="number" id="threshold" step="0.00001" />
  <label for="auto_duration_minutes">Auto Duration (minutes):</label>
  <input type="number" id="auto_duration_minutes" step="0.00001" />
  <label for="solo_on_threshold">On Threshold (solo mode):</label>
  <input type="number" id="solo_on_threshold" step="0.00001" />
  <label for="solo_off_threshold">Off Threshold (solo mode):</label>
  <input type="number" id="solo_off_threshold" step="0.00001" />
  <label for="solo_half_life_minutes"
    >Half-Life for exponential mean average (solo mode, minutes):</label
  >
  <input type="number" id="solo_half_life_minutes" step="0.00001" />
  {% elif controller_name == 'pk-onoff' %}
  <label for="on_threshold">On Threshold:</label>
  <input type="number" id="on_threshold" step="0.00001" />
  <label for="off_threshold">Off Threshold:</label>
  <input type="number" id="off_threshold" step="0.00001" />
  <label for="heat_after_bwk_minutes">Heat After BWK (minutes):</label>
  <input type="number" id="heat_after_bwk_minutes" step="0.00001" />
  {% elif controller_name == 'bhkw-onoff' %}
  <label for="on_threshold">On Threshold:</label>
  <input type="number" id="on_threshold" step="0.00001" />
  <label for="off_threshold">Off Threshold:</label>
  <input type="number" id="off_threshold" step="0.00001" />
  {% endif %}

  <button type="submit">Set Parameters</button>
</form>

<h2>Diagnostics</h2>
<table id="diagnostics"></table>
{% endblock %} {% block page_init %}
<script>
  async function fetchDiagnostics() {
    const data = await apiGet('/api/{{ api_path }}/diagnostics');
    const table = document.getElementById('diagnostics');
    table.innerHTML = `
      <tr>
        <th>Timestamp</th>
        <th>Data</th>
      </tr>`;

    data.reverse().forEach(row => {
      const tr = document.createElement('tr');
      const tdTimestamp = createTableCell(row.timestamp);
      const tdData = createTableCell(JSON.stringify(row.data));
      tr.appendChild(tdTimestamp);
      tr.appendChild(tdData);
      table.append(tr);
    });
  }

  async function fetchParameters() {
    const data = await apiGet('/api/{{ api_path }}/parameters');

    setFormValue('enabled', data.enabled, true);
    setFormValue('half_life_minutes', decayFactorToHalfLife(data.decay_factor).toFixed(2));

    {% if controller_name == 'bwk-onoff' %}
      setFormValue('threshold', data.threshold);
      setFormValue('auto_duration_minutes', data.auto_duration_minutes);
      setFormValue('solo_on_threshold', data.buffer_tank.on_threshold);
      setFormValue('solo_off_threshold', data.buffer_tank.off_threshold);
      setFormValue('solo_half_life_minutes', decayFactorToHalfLife(data.buffer_tank.decay_factor).toFixed(2));
    {% elif controller_name == 'pk-onoff' %}
      setFormValue('on_threshold', data.on_threshold);
      setFormValue('off_threshold', data.off_threshold);
      setFormValue('heat_after_bwk_minutes', (data.heat_after_bwk_seconds / 60).toFixed(2));
    {% elif controller_name == 'bhkw-onoff' %}
      setFormValue('on_threshold', data.on_threshold);
      setFormValue('off_threshold', data.off_threshold);
    {% endif %}
  }

  async function updateParameters() {
    const params = {
      enabled: getFormValue('enabled', true),
      decay_factor: halfLifeToDecayFactor(getFormValue('half_life_minutes'))
    };

    {% if controller_name == 'bwk-onoff' %}
      params.threshold = getFormValue('threshold');
      params.auto_duration_minutes = getFormValue('auto_duration_minutes');
      params.buffer_tank = {
        on_threshold: getFormValue('solo_on_threshold'),
        off_threshold: getFormValue('solo_off_threshold'),
        decay_factor: halfLifeToDecayFactor(getFormValue('solo_half_life_minutes'))
      };
    {% elif controller_name == 'pk-onoff' %}
      params.on_threshold = getFormValue('on_threshold');
      params.off_threshold = getFormValue('off_threshold');
      params.heat_after_bwk_seconds = getFormValue('heat_after_bwk_minutes') * 60;
    {% elif controller_name == 'bhkw-onoff' %}
      params.on_threshold = getFormValue('on_threshold');
      params.off_threshold = getFormValue('off_threshold');
    {% endif %}

    await apiPost('/api/{{ api_path }}/parameters', params);
    fetchParameters();
  }
</script>
{% endblock %}
